<a href="https://colab.research.google.com/github/sudama-inc/EDA-with-Pandas-and-Numpy/blob/main/practice_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Libraries

import pandas as pd
import numpy as np

In [2]:
# create df from a list

lst=[[1,2,4,3,5],[3,5,1,8,7],[1,2,4,3,5],[3,5,1,8,7]]

# Convert this list to the Data Frame

df = pd.DataFrame(lst)
df

   0  1  2  3  4
0  1  2  4  3  5
1  3  5  1  8  7
2  1  2  4  3  5
3  3  5  1  8  7

In [3]:
# create dataframe from a numpy array
arr=np.random.randint(20, 99, 36).reshape(6,6)

# Convert this Numpy Array to the Data Frame
df1 = pd.DataFrame(arr)

df1

    0   1   2   3   4   5
0  93  23  23  81  45  21
1  49  56  42  64  92  29
2  75  67  43  42  53  68
3  87  78  26  94  95  44
4  89  86  47  33  63  79
5  20  59  32  27  66  37

In [14]:
df_test = df1
df_test.columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
df_test

   col1  col2  col3  col4  col5  col6
0    93    23    23    81    45    21
1    49    56    42    64    92    29
2    75    67    43    42    53    68
3    87    78    26    94    95    44
4    89    86    47    33    63    79
5    20    59    32    27    66    37

#### Apply Condition with different Ways

In [16]:
# df_test = df_test[df_test['col1']>40 or df_test.col2 > 50]
# df_test = df_test[(df_test['col3'] > 30) | (df_test['col4'] > 40)]
# df_test = df_test.loc[df_test['col4'] > 50]
df_test.query('col4 > 30 | col5 < 50')
# df_test

   col1  col2  col3  col4  col5  col6
0    93    23    23    81    45    21
1    49    56    42    64    92    29
2    75    67    43    42    53    68
3    87    78    26    94    95    44
4    89    86    47    33    63    79

In [ ]:
ind=['ind1','ind2','ind3','ind4','ind5','ind6']
col=['col1','col2','col3','col4','col5','col6']

**Let's Rename the Row and Column**

In [ ]:
df1.index = ind
df1.columns = col
df1

      col1  col2  col3  col4  col5  col6
ind1    39    45    74    39    98    50
ind2    40    71    95    25    47    82
ind3    82    87    26    61    21    50
ind4    44    92    46    34    98    85
ind5    86    56    30    48    95    90
ind6    70    53    64    39    67    70

**Let's Start Indexing using Loc & iLoc**


*   loc using Indexing with name Included last
*   iloc is using number indexing Excluded last

***Let's Implement loc***

In [ ]:
df1.loc['ind1']     # Print index1 with All column

col1    39
col2    45
col3    74
col4    39
col5    98
col6    50
Name: ind1, dtype: int64

In [ ]:
df1.loc[['ind1', 'ind4']]   # Print index1 & index4 with All column

      col1  col2  col3  col4  col5  col6
ind1    39    45    74    39    98    50
ind4    44    92    46    34    98    85

In [ ]:
df1.loc['ind1' :'ind4']      # Print from index1 till index4 with All column

      col1  col2  col3  col4  col5  col6
ind1    39    45    74    39    98    50
ind2    40    71    95    25    47    82
ind3    82    87    26    61    21    50
ind4    44    92    46    34    98    85

In [ ]:
df1.loc['ind1'] ['col1']       # Print the value for index1 & Column1

39

In [ ]:
df1.loc['ind1', 'col3']     # Print the value for index1 & Column3

74

In [ ]:
df1.loc['ind1':'ind4']['col3']      # Print the value for index1 till  index4 with Column3

ind1    74
ind2    95
ind3    26
ind4    46
Name: col3, dtype: int64

In [ ]:
df1.loc[['ind1', 'ind3']]['col6']     # Print the value for index1 and index3 with Column6

ind1    50
ind3    50
Name: col6, dtype: int64

In [ ]:
df1.loc[['ind1','ind3']][['col3', 'col4']]      # Print the value for index1 and index3 with column3 and column4

      col3  col4
ind1    74    39
ind3    26    61

In [ ]:
df1.loc['ind3':'ind6', 'co2':'col5']      # Print the value for index3 till index6 with column2 till column5

      col1  col2  col3  col4  col5
ind3    82    87    26    61    21
ind4    44    92    46    34    98
ind5    86    56    30    48    95
ind6    70    53    64    39    67

In [ ]:
df1.loc[:, 'col3':'col5']      # Print the value of all index with column3 and column5

      col3  col4  col5
ind1    74    39    98
ind2    95    25    47
ind3    26    61    21
ind4    46    34    98
ind5    30    48    95
ind6    64    39    67

***Let's Implement iloc***

In [ ]:
df1.iloc[5]     # Print index6 with all column

col1    70
col2    53
col3    64
col4    39
col5    67
col6    70
Name: ind6, dtype: int64

In [ ]:
df1.iloc[0][1]    # index1 with column2

45

In [ ]:
df1.iloc[[1,3],[3,4]]      # index2 & index4 with column4 & column5

      col4  col5
ind2    25    47
ind4    34    98

In [ ]:
df1.iloc[0:4, 2:5]      # index1 till index4 with column3 & column5

      col3  col4  col5
ind1    74    39    98
ind2    95    25    47
ind3    26    61    21
ind4    46    34    98

In [ ]:
df1.iloc[:, [1,3]]      # All index with column2 & column4

      col2  col4
ind1    45    39
ind2    71    25
ind3    87    61
ind4    92    34
ind5    56    48
ind6    53    39

In [ ]:
df1.iloc[[2,4,3],:]     # index3, index5, index4 with all columns

      col1  col2  col3  col4  col5  col6
ind3    82    87    26    61    21    50
ind5    86    56    30    48    95    90
ind4    44    92    46    34    98    85

***Let's Practice apply()***

In [ ]:
a = lambda x:x**2
a(5)

25

In [ ]:
student_data={'Name':['Nilima','Namitha', 'Mahesh','Girish','Sonali','Sunil','Deepak','Arush','Mahima', 'Bhushan'],
              'Score':[76,68,90,92,63,86,88,77,65,89]}
student_data

{'Name': ['Nilima',
  'Namitha',
  'Mahesh',
  'Girish',
  'Sonali',
  'Sunil',
  'Deepak',
  'Arush',
  'Mahima',
  'Bhushan'],
 'Score': [76, 68, 90, 92, 63, 86, 88, 77, 65, 89]}

In [ ]:
# Convert this to the DataFrame

st=pd.DataFrame(student_data)
st

      Name  Score
0   Nilima     76
1  Namitha     68
2   Mahesh     90
3   Girish     92
4   Sonali     63
5    Sunil     86
6   Deepak     88
7    Arush     77
8   Mahima     65
9  Bhushan     89

In [ ]:
# grade: score>80 :A grade
# score is below 80: B grade

In [ ]:
st['Grade'] = st.apply(lambda x:'A' if x.Score > 80 else 'B', axis=1)
st

      Name  Score Grade
0   Nilima     76     B
1  Namitha     68     B
2   Mahesh     90     A
3   Girish     92     A
4   Sonali     63     B
5    Sunil     86     A
6   Deepak     88     A
7    Arush     77     B
8   Mahima     65     B
9  Bhushan     89     A

In [ ]:
### Create another column grade1 where grade A: >80; B>70 and <80; grade C is <70

st['grade1']=st.apply(lambda x: 'A' if x.Score > 80 else ('B' if x.Score > 70 and  x.Score < 80 else 'C'), axis=1)
st

      Name  Score Grade grade1
0   Nilima     76     B      B
1  Namitha     68     B      C
2   Mahesh     90     A      A
3   Girish     92     A      A
4   Sonali     63     B      C
5    Sunil     86     A      A
6   Deepak     88     A      A
7    Arush     77     B      B
8   Mahima     65     B      C
9  Bhushan     89     A      A

In [ ]:
sales1={'item':['item1','item2','item3','item4'], 'MRP':[2000,2503,4702,3564], 'disc':[0.1,0.2,0.25,0.15]}

# Convert this Sales1 into DataFrame
sales = pd.DataFrame(sales1)
sales

    item   MRP  disc
0  item1  2000  0.10
1  item2  2503  0.20
2  item3  4702  0.25
3  item4  3564  0.15

In [ ]:
sales['Discounted_price']=sales.apply(lambda x: x.MRP - x.MRP*x.disc, axis=1)
sales

    item   MRP  disc  Discounted_price
0  item1  2000  0.10            1800.0
1  item2  2503  0.20            2002.4
2  item3  4702  0.25            3526.5
3  item4  3564  0.15            3029.4

In [ ]:
### Create another column named "10_perc_disc_price" for all the items

sales['10_perc_disc_price']=sales.apply(lambda x: x.MRP - x.MRP*x.disc, axis=1)